@font-face {
    font-family: "jackpot";
    src: asset-url('jackpot.ttf') format("truetype");
}

.jackpot{
	font-family: "jackpot";
}
/*
@font-face {
    font-family: "philosopher";
    src: asset-url('Philosopher_Regular.ttf') format("truetype");
}

.philosopher{
	font-family: "philosopher";
}
*/

.slabo{
	font-family: 'Slabo 27px', serif;
}

.bangers{
	font-family: 'Bangers', cursive;
}